<style>

.block {
      margin-left: 20px;
  }
  .color {
    color: white;
    padding-left: 40px;
  }
  .addUserbtn {
    margin-top: 22px;
    margin-left: 32px;
  }
 
 
  
</style>
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">     
        <!--code for search-->
        <thead class="thead-light">
          <tr>
            <div class="row">
              <th class="color emailStyle">Email<br> <input class="form-control" placeholder="Email" (keyup)="filterData($event, 'email')"></th>
              <th class="color typeStyle">User Type<br> <input class="form-control" placeholder="User Type" (keyup)="filterData($event, 'type')"></th>
              <th class="color deviceTypeStyle">Device Type<br> <input class="form-control" placeholder="Device Type" (keyup)="filterData($event, 'device_type')"></th>
            <!--  <th class="color dateStyle">First Login<br> <input class="form-control" placeholder="Date" (keyup)="filterData($event, 'createdAt')"></th>
              <th class="color dateStyle">Last Login<br> <input class="form-control" placeholder="Date" (keyup)="filterData($event, 'updatedAt')"></th> -->

              <button type="button" class="btn btn-primary fas fa-plus addUserbtn" (click)="clickOnAdd()">Add</button>
            </div>

          </tr>
      </thead>
    
        
   
     
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Users List</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col" (click)="sort('id')">S.NO&nbsp;<i class="fa fa-sort"></i></th>
                <th scope="col" (click)="sort('email')">Email&nbsp;<i class="fa fa-sort"></i></th>
                <th scope="col" (click)="sort('type')">User Type&nbsp;<i class="fa fa-sort"></i></th>
                <th scope="col" (click)="sort('device_type')">Device Type&nbsp;<i class="fa fa-sort"></i></th>
                <th scope="col" (click)="sort('createdAt')">First Login&nbsp;<i class="fa fa-sort"></i></th>
                <th scope="col" (click)="sort('updateddAt')">Last Login&nbsp;<i class="fa fa-sort"></i></th>
              <!---  <th scope="col">Coupon Detail</th> -->
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let consumer of tempSellers | orderBy: key: reverse | paginate: { itemsPerPage: pageSize, currentPage: p, totalItems: tempTotalRecords }; let i = index">

            <!----  <tr *ngFor="let consumer of allConsumer.consumer_list;"> -->
                <td>
                  {{pageSize *(p-1)+i+1}}
                </td>
                <td>
                  {{consumer.email}}
                </td>
                <td>
                  {{consumer.type}}
                </td>
                <td>
                  {{consumer.device_type}}
                </td>
                <td>
                  {{consumer.createdAt | date:'short':'UTC-5'}}
                </td>
                <td>
                  {{consumer.updatedAt | date:'short':'UTC-5'}}
                </td>
               <!---- <td>
                  <a class="btn btn-secondary" (click)="clickOnCouponDetail(consumer.id)">Click Here</a>
                </td>
                <td>
                  <mat-icon aria-hidden="false" style="cursor: pointer;" (click)="warningDialog(consumer.id)" aria-label="Example home icon">delete_outline</mat-icon>

                </td> -->
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                    
                      <a class="dropdown-item" href="javascript:void(0)" (click)="clickOnCouponDetail(consumer.id)">Coupon Detail</a>
                     <!-- <a class="dropdown-item" href="javascript:void(0)" >Edit</a> -->
                      <a class="dropdown-item" href="javascript:void(0)" (click)="clickReset()">Reset Password</a>
                      <a class="dropdown-item" href="javascript:void(0)" (click)="warningDialog(consumer.id)"><mat-icon aria-hidden="false" style="cursor: pointer;" (click)="warningDialog(merchant.user_id)" aria-label="Example home icon">delete_outline</mat-icon></a>
                    </div>
                  </div>
                </td>
          
              </tr>
            
            </tbody>
          </table>
        </div>
      
      </div>
    </div>
  </div>
  <div class="card-footer">
    <pagination-controls style="text-align: center;" (pageChange)="p = $event"></pagination-controls>
</div>


</div>
