<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
   
     
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Users List</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">S.No.</th>
                <th scope="col">Email</th>
                <th scope="col">User Type</th>
                <th scope="col">Device Type</th>
                <th scope="col">Registration<br>Date & Time</th>
                <th scope="col">Coupon Detail</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let consumer of allConsumer.consumer_list;">
                <td>
                  {{consumer.id}}
                </td>
                <td>
                  {{consumer.email}}
                </td>
                <td>
                  {{consumer.type}}
                </td>
                <td>
                  {{consumer.device_type}}
                </td>
                <td>
                  {{consumer.createdAt | date:'dd/MM/yyyy' }}
                </td>
                <td>
                  <a class="btn btn-secondary" (click)="clickOnCouponDetail(consumer.id)">Click Here</a>
                </td>
                <td>
                  <mat-icon aria-hidden="false" style="cursor: pointer;" (click)="warningDialog(consumer.id)" aria-label="Example home icon">delete_outline</mat-icon>

                </td>
          
              </tr>
            
            </tbody>
          </table>
        </div>
      
      </div>
    </div>
  </div>
  <div class="card-footer">
    <pagination-controls style="text-align: center;" (pageChange)="p = $event"></pagination-controls>
</div>


</div>
