<style>

  .color {
    color: white;
  }
 
  .subCateStyle {
    padding-left: 60px;
  }
  .cateStyle {
    padding-left: 40px;
  }
 
  
</style>
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
      <!--code for search-->
      <thead class="thead-light">
        <tr>
            <th class="color cateStyle">Business Name<br> <input class="form-control" placeholder="Business Name" (keyup)="filterData($event, 'business_name')"></th>
            <th class="color subCateStyle">Email<br> <input class="form-control" placeholder="Email" (keyup)="filterData($event, 'email')"></th>
   
        </tr>
    </thead>
  
  
  
 
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
 <!---- <button type="button" class="btn btn-primary fas fa-plus merchantbtn">Add</button> -->

  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Merchant Gallary</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col" (click)="sort('id')">S.NO&nbsp;<i class="fa fa-sort"></i></th>
                <th scope="col" (click)="sort('business_name')">Business Name&nbsp;<i class="fa fa-sort"></i></th>
                <th scope="col" (click)="sort('email')">Email&nbsp;<i class="fa fa-sort"></i></th>
                <th scope="col">Gallary Photos</th>
                <th scope="col">+Add</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let merchant of tempSellers | orderBy: key: reverse | paginate: { itemsPerPage: pageSize, currentPage: p, totalItems: tempTotalRecords }; let i = index">

                <td>
                  {{merchant.id}}
                </td>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{merchant.business_name}}</span>
                    </div>
                  </div>
                </th>
                <td>
                  {{merchant.email}}
                </td>
          
                <td>
                  <a class="btn btn-secondary" (click)="clickOnGallary(merchant.user_id)">Click Here</a>
                </td>
                <td>
                   
                  <form [formGroup]="fileUploadForm" (ngSubmit)="onFormSubmit()">
                 
                    <div class="row">
                   
                      <div class="col-sm-6">
                
                        <div class="custom-file">
                
                          <input type="file" multiple class="custom-file-input" id="customFile" name="images"
                            (change)="onFileSelect($event)" #UploadFileInput>
                
                          <label class="custom-file-label" for="customFile">{{fileInputLabel || 'Choose File'}}</label>
                        
                        </div>
                
                      </div>
                    
                
                      <div class="col-sm-6"> <button class="btn btn-primary" (click)="clickOnUserId(merchant.user_id)" type="submit">Upload</button> </div>
                
                    </div>
                   
                  </form>
                </td>
              
              </tr>
              
            </tbody>
          </table>
        </div>
       
      </div>
    </div>
  </div>

</div>
<div class="card-footer">
  <pagination-controls style="text-align: center;" (pageChange)="p = $event"></pagination-controls>
</div>

