<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  
  
  
  
 
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
 <!---- <button type="button" class="btn btn-primary fas fa-plus merchantbtn">Add</button> -->

  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Merchant Gallary</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">S.NO.</th>
                <th scope="col">Business Name</th>
                <th scope="col">Email</th>
                <th scope="col">Gallary Photos</th>
                <th scope="col">+Add</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let merchant of tempSellers | paginate: { itemsPerPage: pageSize, currentPage: p, totalItems: tempTotalRecords }; let i = index">

                <td>
                  {{merchant.id}}
                </td>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{merchant.business_name}}</span>
                    </div>
                  </div>
                </th>
                <td>
                  {{merchant.user_id}}
                </td>
          
                <td>
                  <a class="btn btn-secondary" (click)="clickOnGallary(merchant.user_id)">Click Here</a>
                </td>
                <td>
                   
                  <form [formGroup]="fileUploadForm" (ngSubmit)="onFormSubmit()">
                    <div class="form-group">
                      <input type="text" class="form-control" value="{{merchant.user_id}}"  name="user_id" id="user_id">
                      
                    </div>
                   
                    <div class="row">
                   
                      <div class="col-sm-6">
                
                        <div class="custom-file">
                
                          <input type="file" multiple class="custom-file-input" id="customFile" name="images"
                            (change)="onFileSelect($event)" #UploadFileInput>
                
                          <label class="custom-file-label" for="customFile">{{fileInputLabel || 'Choose File'}}</label>
                        
                        </div>
                
                      </div>
                    
                
                      <div class="col-sm-6"> <button class="btn btn-primary" type="submit">Upload</button> </div>
                
                    </div>
                   
                  </form>
                </td>
              
              </tr>
              
            </tbody>
          </table>
        </div>
       
      </div>
    </div>
  </div>

</div>
<div class="card-footer">
  <pagination-controls style="text-align: center;" (pageChange)="p = $event"></pagination-controls>
</div>

