<style>

  .color {
    color: white;
  }
  .box {
    margin-top: -50px;
  }
  .subCateStyle {
    padding-left: 80px;
  }
  .cateStyle {
    padding-left: 15px;
  }
 
  
</style>
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
     

      <!-- Card stats -->
      <form class="form-horizontal box" [formGroup]="categoryForm">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <input type="text" class="form-control" formControlName="name" id="categoryId" placeholder="Enter Category Name">
              
            </div>
          </div>
          <div class="col-md-3">
              <button type="button" (click)="addNewCategory()" class="btn btn-primary fas fa-plus merchantbtn">Add</button>
      
          </div>
        </div>
        </form>

     

      <div class="container">
          <h3 class="color">Add Sub Category</h3>
        
        
          <form [formGroup]="fileUploadForm" (ngSubmit)="onFormSubmit()">
            <div class="row">
            
              <div class="col-sm-3">
        
                <div class="custom-file">
        
                  <input type="file" class="custom-file-input" id="customFile" name="subcateimg"
                    (change)="onFileSelect($event)" #UploadFileInput>
        
                  <label class="custom-file-label" for="customFile">{{fileInputLabel || 'Choose File'}}</label>
                
                </div>
        
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <input type="text" class="form-control" formControlName="name" id="name" placeholder="Sub Category Name">
                  
                </div>
              </div>
              <div class="col-md-3">
                <select formControlName="category_id" class="form-control">
                  <option value="">All</option>
                  <option *ngFor="let category of allCategories.categories;" value="{{category.id}}">{{category.name}}</option>
                   
                </select>
              </div>
        
              <div class="col-sm-3"> <button class="btn btn-primary" type="submit">Upload</button> </div>
        
            </div>
          </form>
        
        </div> 
         <!--code for search-->
      <thead class="thead-light">
        <tr>
            <th class="color cateStyle">Category Name<br> <input class="form-control" placeholder="Category" (keyup)="filterData($event, 'category')"></th>
            <th class="color subCateStyle">Sub Category Name<br> <input class="form-control" placeholder="Sub Category" (keyup)="filterData($event, 'subcategory')"></th>
            <th class="color subCateStyle">Date<br> <input class="form-control" placeholder="Date" (keyup)="filterData($event, 'date')"></th>
   
        </tr>
    </thead>
      

      
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
 <!---- <button type="button" class="btn btn-primary fas fa-plus merchantbtn">Add</button> -->
 
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Sub Category List</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col" (click)="sort('id')">S.NO&nbsp;<i class="fa fa-sort"></i></th>
                <th scope="col" (click)="sort('category_name')">Category&nbsp;<i class="fa fa-sort"></i></th>
                <th scope="col" (click)="sort('name')">Sub Category&nbsp;<i class="fa fa-sort"></i></th>
                <th scope="col" (click)="sort('createdAt')">Created&nbsp;<i class="fa fa-sort"></i></th>
                <th scope="col">Image</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
           <tr *ngFor="let subcategory of tempSellers | orderBy: key: reverse | paginate: { itemsPerPage: pageSize, currentPage: p, totalItems: tempTotalRecords }; let i = index">
                <td>
                {{subcategory.id}}
                </td>
                <td scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{subcategory.category_name}}</span>
                    </div>
                  </div>
                </td>
                <td scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{subcategory.name}}</span>
                    </div>
                  </div>
                </td>
                <td>
                  {{subcategory.createdAt | date:'dd/MM/yyyy' }}
                </td>
                <td>
                    <img height="100px" width="100px" src="https://www.mccpapp.com:8080/{{subcategory.img_url}}">
                </td>
                <td>
                  <div (click)="changeStatus(subcategory.id)">
                    <div *ngIf="subcategory.status == 1">
                    <span class="btn btn-success" style="cursor: pointer;">Active</span>
                    </div>
                    <div *ngIf="subcategory.status == 0">
                    <span class="btn btn-danger" style="cursor: pointer;">Deactivate</span>
                    </div>
                    </div>
                </td>
                <td>
                  <mat-icon aria-hidden="false" style="cursor: pointer;" (click)="deleteSubCatConfirm(subcategory.id)" aria-label="Example home icon">delete_outline</mat-icon>
                </td>
              </tr>
              
            </tbody>
          </table>
        </div>
       
      </div>
    </div>
  </div>
  <div class="card-footer">
    <pagination-controls style="text-align: center;" (pageChange)="p = $event"></pagination-controls>
</div>

</div>
