<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->  
     <!---- <button mat-button (click)="openDialog()">Open dialog</button>   -->
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <form class="form-horizontal" [formGroup]="categoryForm">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <input type="text" class="form-control" formControlName="name" id="categoryId" placeholder="Enter Category Name">
          
        </div>
      </div>
      <div class="col-md-6">
      <!----  <div class="form-group">
          <input type="text" placeholder="Regular" class="form-control">
        </div> -->
          <button type="button" (click)="addNewCategory()" class="btn btn-primary fas fa-plus merchantbtn">Add</button>

      </div>
    </div>
    </form>

  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Category List</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">S.No.</th>
                <th scope="col">Category Name</th>
                <th scope="col">Created</th>
                <th scope="col">Sub Category Detail</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let category of allCategories.categories;">
                <td>
                  {{category.id}}
                </td>
                <td scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{category.name}}</span>
                    </div>
                  </div>
                </td>
                <td>
                  {{category.createdAt}}
                </td>
                <td>
                <!-- <a class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Click Here</a>-->
                <a class="btn btn-secondary" (click)="clickSubCategory(category.id)">Click Here</a>
                </td>
                <td>
                  <span class="badge badge-success">Active</span>
                </td>
                <td>
                  <mat-icon aria-hidden="false" (click)="warningDialog(category.id)" aria-label="Example home icon">delete_outline</mat-icon>

              <!----    <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="javascript:void(0)">Activate</a>
                      <a class="dropdown-item" href="javascript:void(0)">Deactivate</a>
                      <a class="dropdown-item" (click)="deleteConfirm(category.id)" href="javascript:void(0)">Delete</a>
                    </div>
                  </div> -->
                </td>
              </tr>
              
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>
              </li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

</div>
