<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">     
        <!--code for search-->
        <thead class="thead-light">
          <tr>
              
          </tr>
      </thead>
    
        
   
     
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Coupon List</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col" (click)="sort('id')">S.NO&nbsp;<i class="fa fa-sort"></i></th>
                <th scope="col" (click)="sort('email')">Coupon Type&nbsp;<i class="fa fa-sort"></i></th>
                <th scope="col" (click)="sort('type')">Coupon Code&nbsp;<i class="fa fa-sort"></i></th>
                <th scope="col" (click)="sort('device_type')">expiry Date&nbsp;<i class="fa fa-sort"></i></th>
                <th scope="col" (click)="sort('createdAt')">Category<br>Sub Category&nbsp;<i class="fa fa-sort"></i></th>
                <th scope="col">Coupon Detail</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let coupon of tempSellers | orderBy: key: reverse | paginate: { itemsPerPage: pageSize, currentPage: p, totalItems: tempTotalRecords }; let i = index">

                <td>
                  {{i+1}}
                </td>
                <td>
                  {{coupon.coupon_type}}
                </td>
                <td>
                  {{coupon.coupon_code}}
                </td>
                <td>
                  {{coupon.expiry_date}}
                </td>
                <td>
                  saloon <br> shave
                </td>
                <td>
                  <a class="btn btn-secondary" >Click Here</a>
                </td>
                <td>
                  <mat-icon aria-hidden="false" style="cursor: pointer;" (click)="warningDialog(consumer.id)" aria-label="Example home icon">delete_outline</mat-icon>

                </td>
          
              </tr>
            
            </tbody>
          </table>
        </div>
      
      </div>
    </div>
  </div>
  <div class="card-footer">
    <pagination-controls style="text-align: center;" (pageChange)="p = $event"></pagination-controls>
</div>


</div>