<style>
  .block {
      margin-left: 20px;
  }
  .color {
    color: white;
    padding-left: 40px;
  }
  .addMerchantbtn {
    margin-top: 22px;
    margin-left: 32px;
  }

  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.overlay{
  height:100vh;
  width:100%;
  background-color:rgba(0, 0, 0, 0.286);
  z-index:    10;
  top:        0; 
  left:       0; 
  position:   fixed;
}

  
 
  
</style>
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">     
        <!-- Card stats -->
 
        
   
     
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Request List</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col" (click)="sort('id')">S.NO&nbsp;<i class="fa fa-sort"></i></th>
                <th scope="col" (click)="sort('email')">Email&nbsp;<i class="fa fa-sort"></i></th>
                <th scope="col" (click)="sort('date')">Date&nbsp;<i class="fa fa-sort"></i></th>
                <th scope="col" (click)="sort('time')">Time&nbsp;<i class="fa fa-sort"></i></th>
                <th scope="col" (click)="sort('detail')">Detail&nbsp;<i class="fa fa-sort"></i></th>
                <th scope="col">Allow</th>
               <!---- <th scope="col" (click)="sort('createdAt')">createdAt&nbsp;<i class="fa fa-sort"></i></th>
                <th scope="col" (click)="sort('updatedAt')">updatedAt&nbsp;<i class="fa fa-sort"></i></th> -->
                <th scope="col">Reject</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let coupon of tempSellers | orderBy: key: reverse | paginate: { itemsPerPage: pageSize, currentPage: p, totalItems: tempTotalRecords }; let i = index">

                <td>
                  {{pageSize *(p-1)+i+1}}
                </td>
                <td>
                  {{coupon.consumer_email}}
                </td>
                <td>
                  {{coupon.date}}
                </td>
                <td>
                  {{coupon.time}}
                </td>
                <td>
               {{coupon.detail}} 
                </td>
                <!--spinner-->
                <div class="overlay" *ngIf="showSpinner">
                  <div class="center">
                      <mat-progress-spinner diameter=100 
                                          mode="indeterminate" 
                                color="accent">
                    </mat-progress-spinner> 
                  </div>
                  </div>
                
              <!---- <td>
                
                  {{coupon.sub_category_name}}
                </td> -->
             <!----   <td>
                  {{coupon.createdAt | date:'dd/MM/yyyy' }}
                </td>
                <td>
                  {{coupon.updatedAt | date:'dd/MM/yyyy' }}
                </td>  -->

             <!----   <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <div (click)="changeStatus(coupon.request_id)">
                        <div *ngIf="coupon.is_allow == 1">
                          <a class="dropdown-item" href="javascript:void(0)" style="color: green;">Allowed</a>
                        </div>
                        <div *ngIf="coupon.is_allow == 0">
                          <a class="dropdown-item" href="javascript:void(0)" style="color: red;">Not Allowed</a>
                        </div>
                        </div>
                      <a class="dropdown-item" href="javascript:void(0)"><mat-icon aria-hidden="false" style="cursor: pointer;" aria-label="Example home icon">delete_outline</mat-icon></a>
                    </div>
                  </div>
                </td> -->
                <td>
                  <div (click)="changeStatusToOne(coupon.request_id)">
                    <span class="btn btn-success" style="cursor: pointer;">Allow</span>
                    </div>
                  </td>
                  <td>
                    <div (click)="changeStatusToZero(coupon.request_id)">
                    <span class="btn btn-danger" style="cursor: pointer;">Reject</span>
                    </div>
                </td>
          
              </tr>
            
            </tbody>
          </table>
        </div>
      
      </div>
    </div>
  </div>
  <div class="card-footer">
    <pagination-controls style="text-align: center;" (pageChange)="p = $event"></pagination-controls>
</div>


</div>