
<style>
 
  .setup {
    margin-top: 10px;
    
  }
  
 
  </style>
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
 <!---- <a routerLinkActive="active" [routerLink]="['/coupon-detail']">-->
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6" style="cursor: pointer;" [routerLink]="['/users']">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Total Consumer</h5>
                  <span class="h2 font-weight-bold mb-0">{{alldata.consumer}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-pink text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
             <!---  <span class="text-success mr-2"><i class="fa fa-arrow-up"></i></span> -->
            <!----    <span class="text-nowrap">Since last month</span> -->
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6" style="cursor: pointer;" [routerLink]="['/coupon-detail']">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Total Coupons</h5>
                  <span class="h2 font-weight-bold mb-0">{{alldata.coupons}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
              <!----  <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i></span> -->
               <!----    <span class="text-nowrap">Since last month</span> -->
              </p>
            </div>
          </div>
        </div>
       
        <div class="col-xl-3 col-lg-6" style="cursor: pointer;" [routerLink]="['/coupon-detail']">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Custom Coupons</h5>
                  <span class="h2 font-weight-bold mb-0">{{alldata.custom}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-gray text-white rounded-circle shadow">
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
               <!---- <span class="text-success mr-2"><i class="fas fa-arrow-up"></i></span> -->
                <!----    <span class="text-nowrap">Since last month</span> -->
              </p>
            </div>
          </div>
        </div>
      </div>
          <!-- Card stats -->
          <div class="row setup">
            <div class="col-xl-3 col-lg-6" style="cursor: pointer;" [routerLink]="['/merchant']">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Total Merchant</h5>
                      <span class="h2 font-weight-bold mb-0">{{alldata.merchant}}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-blue text-white rounded-circle shadow">
                        <i class="fas fa-users"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                 <!---  <span class="text-success mr-2"><i class="fa fa-arrow-up"></i></span> -->
                <!----    <span class="text-nowrap">Since last month</span> -->
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6" style="cursor: pointer;" [routerLink]="['/users']">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Android / iOS</h5>
                      <span class="h2 font-weight-bold mb-0">{{alldata.android}}/{{alldata.apple}}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-red text-white rounded-circle shadow">
                        <i class="fas fa-users"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                  <!----  <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i></span> -->
                   <!----    <span class="text-nowrap">Since last month</span> -->
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6" style="cursor: pointer;" > <!--[routerLink]="['/requests']"-->
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">New Requests</h5>
                      <span class="h2 font-weight-bold mb-0">NA</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                        <i class="fas fa-users"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                  <!----  <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> </span> -->
                  <!----    <span class="text-nowrap">Since last month</span> -->
                  </p>
                </div>
              </div>
            </div>
         
          </div>
    </div>

    
  </div>
</div>

 