<style>
    .input {
        margin-left: 20px;
    }
    .button-submit {
      margin-left: 20%;
      margin-bottom: 1%;
    }
  
    
</style>
<h1>Add New Merchant</h1>
<div class="row">
    <div class="example-container">
        <form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)" >
          <mat-form-field appearance="fill">
            <mat-label>Select User</mat-label>
            <mat-select name="user_id" ngModel required>
           <mat-option *ngFor="let user of usersDetail" [value]="user.id">
            {{user.email}}
            </mat-option>
            </mat-select>
          </mat-form-field>
        <mat-form-field appearance="fill" class="input">
          <mat-label>Address</mat-label>
          <input matInput name="address" ngModel required>
        </mat-form-field>
        <mat-form-field class="input" appearance="fill">
            <mat-label>City</mat-label>
            <input matInput name="city" ngModel required>
          </mat-form-field>
        <mat-form-field class="input" appearance="fill">
            <mat-label>State</mat-label>
            <input matInput name="state" ngModel required>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Zipcode</mat-label>
            <input matInput name="zipcode" ngModel required>
          </mat-form-field>
          <mat-form-field class="input" appearance="fill">
            <mat-label>business Name</mat-label>
            <input matInput name="business_name" ngModel required>
          </mat-form-field>
          <mat-form-field class="input" appearance="non">
            <mat-label>Tagline</mat-label>
            <input matInput name="tagline" ngModel required>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Website</mat-label>
            <input matInput name="website" ngModel required>
          </mat-form-field>
          <mat-form-field class="input" appearance="fill">
            <mat-label>Phone No</mat-label>
            <input matInput name="phone_no" ngModel required>
          </mat-form-field>
          <mat-form-field class="input" appearance="fill">
            <mat-label>Business License No</mat-label>
            <input matInput name="business_license_no" ngModel required>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <input matInput name="description" ngModel required>
          </mat-form-field>
          <mat-form-field class="input" appearance="fill">
            <mat-label>Opening Time</mat-label>
            <input matInput name="opening_time" ngModel required>
          </mat-form-field>
          <mat-form-field class="input" appearance="fill">
            <mat-label>Closing Time</mat-label>
            <input matInput name="closing_time" ngModel required>
          </mat-form-field>
          <br>
         <!---- <mat-form-field appearance="fill">
            <mat-label>Select Category</mat-label>
            <mat-select name="sub_category_id" ngModel>
           <mat-option *ngFor="let category of categoryDetail" [value]="category.sub_category_id">
            {{category.sub_cate_name}}
            </mat-option>
            </mat-select>
          </mat-form-field> -->
          <mat-form-field appearance="fill">
            <mat-label>Select Category</mat-label>
            <mat-select name="sub_category_id" ngModel multiple required>
              <mat-option *ngFor="let category of categoryDetail" [value]="category.sub_category_id"> {{category.sub_cate_name}}</mat-option>
            </mat-select>
          </mat-form-field>
            <mat-label>Notification Email</mat-label>
            <input name="notification_email" class="input" type="checkbox" [(ngModel)]="ischeckbox">
          <mat-dialog-actions> 
            <button class="btn btn-primary button-submit" type="submit">Save</button> 
          </mat-dialog-actions> 
    </form>
      </div>
  
  
  </div> 
 <!--- <form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)" >  
    <input type="text" name="name" ngModel="{{data.merchant_detail.address}}" placeholder="name"> <br><br>
    <input type="text" name="email" ngModel placeholder="email"> <br><br>
    <input type="text" name="address" ngModel placeholder="address"> <br><br>
    <input type="text" name="rating" ngModel placeholder="rating"> <br><br>
    <button type="submit">submit data</button>
    </form> -->

  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>