<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <button type="button" class="btn btn-primary fas fa-plus merchantbtn">Add</button>

  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Merchant List</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">S.NO.</th>
                <th scope="col">Business Name</th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>
                <th scope="col">Contact No.</th>
                <th scope="col">Website</th>
                <th scope="col">License No.</th>
                <th scope="col">Sub Category</th>
                <th scope="col">Registration<br>Date & Time</th>
                <th scope="col">Status</th>
                <th scope="col">Coupon Detail</th>
                <th scope="col">Gallary</th> 
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let merchant of allMerchants.merchant_list;">
                <td>
                  {{merchant.id}}
                </td>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{merchant.business_name}}</span>
                    </div>
                  </div>
                </th>
                <td>
                  {{merchant.email}}
                </td>
                <td>
                 {{merchant.address}}, {{merchant.city}}<br>{{merchant.state}}, {{merchant.zipcode}}
                </td>
                <td>
                  {{merchant.phone_no}}
                </td>
                <td>
                  {{merchant.website}}
                </td>
                <td>
                  {{merchant.business_license_no}}
                </td>
                <td>
                  {{merchant.sub_category_id}}
                </td>
                <td>
                  {{merchant.createdAt | date:'short' }}
                <td>
                  <span class="badge badge-success">Active</span>
                </td>
                <td>
                  <a class="btn btn-secondary" role="button" aria-pressed="true">Click Here</a>
                </td>
                <td>
                  <a class="btn btn-secondary" role="button" aria-pressed="true">Click Here</a>
                </td>
              </tr>
              
            </tbody>
          </table>
        </div>
       
      </div>
    </div>
  </div>

</div>
