<style>
  .block {
      margin-left: 20px;
  }
  .color {
    color: white;
    padding-left: 40px;
  }
  .addMerchantbtn {
    margin-top: 22px;
    margin-left: 32px;
  }

  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.overlay{
  height:100vh;
  width:100%;
  background-color:rgba(0, 0, 0, 0.286);
  z-index:    10;
  top:        0; 
  left:       0; 
  position:   fixed;
}
  
</style>

<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  
  
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <thead class="thead-light">
        <tr>
          <div class="row">
          <!---  <th class="color">Business Name <br> <input class="form-control" placeholder="Name" (keyup)="filterData($event, 'business_name')"></th> -->
            <th class="color">Email <br> <input class="form-control" placeholder="Email" (keyup)="filterData($event, 'email')"></th>
            <th class="color">Contact No <br> <input class="form-control" placeholder="Contact No" (keyup)="filterData($event, 'phone_no')"></th>
         <!--   <th class="color">Website <br> <input class="form-control" placeholder="Website" (keyup)="filterData($event, 'website')"></th> -->
            <th class="color">License No<br> <input class="form-control" placeholder="License No" (keyup)="filterData($event, 'business_license_no')"></th>
         <th class="color">State<br> <input class="form-control" placeholder="State" (keyup)="filterData($event, 'country_name')"></th>
          <th class="color">Zipcode<br> <input class="form-control" placeholder="Zipcode" (keyup)="filterData($event, 'zipcode_new')"></th>
          <th class="color"><br>
            <mat-form-field appearance="fill">
              <mat-label style="background-color: white;"></mat-label>
              <mat-select (ngModelChange)="dropDownData($event, 'status')" ngModel>
                <mat-option value="" selected>All </mat-option>
             <mat-option value="true"> Activate </mat-option>
             <mat-option value="false"> Deactivate</mat-option>
              </mat-select>
            </mat-form-field>
            </th>
            <button type="button" style="margin-bottom: 20px;" class="btn btn-primary fas fa-plus addMerchantbtn" (click)="clickOnAdd()">Add</button> 
            </div>
        </tr>
    </thead>
      
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
 <!---- <button type="button" class="btn btn-primary fas fa-plus merchantbtn">Add</button> -->

  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Merchant List</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
              <th scope="col" (click)="sort('id')">S.NO&nbsp;<i class="fa fa-sort"></i></th>
             <!-- <th scope="col" (click)="sort('business_name')">Business Name&nbsp;<i class="fa fa-sort"></i></th> -->
                <th scope="col" (click)="sort('email')">Email&nbsp;<i class="fa fa-sort"></i></th>
              <!-- <th scope="col" (click)="sort('address')">Address&nbsp;<i class="fa fa-sort"></i></th> -->
                <th scope="col" (click)="sort('phone_no')">Contact No&nbsp;<i class="fa fa-sort"></i></th> 
             <!--   <th scope="col" (click)="sort('website')">Website&nbsp;<i class="fa fa-sort"></i></th> -->
              <th scope="col" (click)="sort('business_license_no')">License No&nbsp;<i class="fa fa-sort"></i></th> 
              <!---  <th scope="col" (click)="sort('sub_category_id')">Sub Category&nbsp;<i class="fa fa-sort"></i></th> -->
              <th scope="col" (click)="sort('country_name')">State&nbsp;<i class="fa fa-sort"></i></th>
              <th scope="col" (click)="sort('zipcode_new')">Zipcode&nbsp;<i class="fa fa-sort"></i></th>
              <th scope="col" (click)="sort('createdAt')">First Login&nbsp;<i class="fa fa-sort"></i></th>
              <th scope="col" (click)="sort('updateddAt')">Last Login&nbsp;<i class="fa fa-sort"></i></th>
             
             <!---  <th scope="col">Status</th>
                <th scope="col">Merchant Detail</th>
                <th scope="col">Update</th>-->
                <th scope="col">Action</th>
              </tr>
            </thead>
            <!--spinner code-->
            <div class="overlay" *ngIf="showSpinner">
              <div class="center">
                  <mat-progress-spinner diameter=100 
                                      mode="indeterminate" 
                            color="accent">
                </mat-progress-spinner> 
              </div>
              </div>
            <tbody>
              <tr *ngFor="let merchant of tempSellers | orderBy: key: reverse | paginate: { itemsPerPage: pageSize, currentPage: p, totalItems: tempTotalRecords }; let i = index">
                <td>
                  {{pageSize *(p-1)+i+1}}
                </td> 
            <!-- <td>
              {{merchant.business_name}}
               </td> -->
                <td>
                  <a routerLinkActive="active" [routerLink]="['/gallary',merchant.user_id]">
                  {{merchant.email}}
                  </a>
                </td>
              
                <td>
                  {{merchant.phone_no}}
                </td>
           
                <td>
                  {{merchant.business_license_no}}
                </td>
               <td>
                <a routerLinkActive="active" [routerLink]="['/maps',merchant.formatted_address,merchant.lat,merchant.lang]">
                  {{merchant.state_name}}
                  </a>
                </td>    
              <td>
                <a routerLinkActive="active" [routerLink]="['/maps',merchant.formatted_address,merchant.lat,merchant.lang]">
                  {{merchant.zipcode_new}}
                  </a>
                </td>
                <td>
                  {{merchant.createdAt | date:'short':'UTC-5'}}
                </td>
                <td>
                  {{merchant.last_login | date:'short':'UTC-5'}}
                </td>
              <!--  <td>
                  <div (click)="changeStatus(merchant.user_id)">
                  <div *ngIf="merchant.status == 1">
                  <span class="btn btn-success" style="cursor: pointer;">Active</span>
                  </div>
                  <div *ngIf="merchant.status == 0">
                  <span class="btn btn-danger" style="cursor: pointer;">Deactivate</span>
                  </div>
                  </div>
                </td>
                <td>
                  <a class="btn btn-secondary" (click)="clickOnCouponDetail(merchant.user_id)">Click Here</a>
                </td>
              
              <td>
                  <a class="btn btn-primary" (click)="clickOnEdit(merchant.user_id)">
                    Edit
                </a>
                  </td>
                <td>
                <mat-icon aria-hidden="false" style="cursor: pointer;" (click)="warningDialog(merchant.user_id)" aria-label="Example home icon">delete_outline</mat-icon>

                    </td> -->
                    <td class="text-right">
                      <div ngbDropdown placement="bottom-right">
                        <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                          <div (click)="changeStatus(merchant.user_id)">
                            <div *ngIf="merchant.status == 'true'">
                              <a class="dropdown-item" href="javascript:void(0)" style="color: green;">Activate</a>
                            </div>
                            <div *ngIf="merchant.status == 'false'">
                              <a class="dropdown-item" href="javascript:void(0)" style="color: red;">Deactivate</a>
                            </div>
                            </div>
                          <a class="dropdown-item" href="javascript:void(0)" (click)="clickOnCouponDetail(merchant.user_id)">Coupon Detail</a>
                          <a class="dropdown-item" href="javascript:void(0)" (click)="clickOnEdit(merchant.user_id)">Edit</a>
                          <a class="dropdown-item" href="javascript:void(0)" (click)="clickReset()">Reset Password</a>
                          <a routerLinkActive="active" [routerLink]="['/maps',merchant.formatted_address,merchant.lat,merchant.lang]">
                            <mat-icon aria-hidden="false" style="cursor: pointer; margin-left: 12px;" aria-label="Example home icon"> location_on</mat-icon>
                          </a>
                          <a class="dropdown-item" href="javascript:void(0)" (click)="warningDialog(merchant.user_id)"><mat-icon aria-hidden="false" style="cursor: pointer;" (click)="warningDialog(merchant.user_id)" aria-label="Example home icon">delete_outline</mat-icon></a>
                        </div>
                      </div>
                    </td>
              </tr>
              
            </tbody>
          </table>
        </div>
      
      </div>
    </div>
  </div>

</div>
<div class="card-footer">
  <pagination-controls style="text-align: center;" (pageChange)="p = $event"></pagination-controls>
</div>

