<style>
  .block {
      margin-left: 20px;
  }
  .color {
    color: white;
    padding-left: 40px;
  }
  
</style>

<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  
  
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <thead class="thead-light">
        <tr>
            <th class="color">Business Name <br> <input class="form-control" placeholder="Name" (keyup)="filterData($event, 'business_name')"></th>
            <th class="color">Email <br> <input class="form-control" placeholder="Email" (keyup)="filterData($event, 'email')"></th>
            <th class="color">Contact No <br> <input class="form-control" placeholder="Contact No" (keyup)="filterData($event, 'phone_no')"></th>
            <th class="color">Website <br> <input class="form-control" placeholder="Website" (keyup)="filterData($event, 'website')"></th>
            <th class="color">License No<br> <input class="form-control" placeholder="License No" (keyup)="filterData($event, 'business_license_no')"></th>
            <th class="color">Date<br> <input class="form-control" placeholder="Date" (keyup)="filterData($event, 'date')"></th>

            
        </tr>
    </thead>
      
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
 <!---- <button type="button" class="btn btn-primary fas fa-plus merchantbtn">Add</button> -->

  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Merchant List</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">S.NO.</th>
                <th scope="col">Business Name</th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>
                <th scope="col">Contact No.</th>
                <th scope="col">Website</th>
                <th scope="col">License No.</th>
                <th scope="col">Sub Category</th>
                <th scope="col">Registration<br>Date & Time</th>
                <th scope="col">Status</th>
                <th scope="col">Coupon Detail</th>
                <th scope="col">Update</th>  
                <th scope="col">Action</th>  
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let merchant of tempSellers | paginate: { itemsPerPage: pageSize, currentPage: p, totalItems: tempTotalRecords }; let i = index">
                <td>
                  {{merchant.id}}
                </td>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{merchant.business_name}}</span>
                    </div>
                  </div>
                </th>
                <td>
                  {{merchant.email}}
                </td>
                <td>
                 {{merchant.address}}, {{merchant.city}}<br>{{merchant.state}}, {{merchant.zipcode}}
                </td>
                <td>
                  {{merchant.phone_no}}
                </td>
                <td>
                  {{merchant.website}}
                </td>
                <td>
                  {{merchant.business_license_no}}
                </td>
                <td>
                  {{merchant.sub_category_id}}
                </td>
                <td>
                  {{merchant.createdAt | date:'dd/MM/yyyy' }}
                </td>
                <td>
                  <div (click)="changeStatus(merchant.user_id)">
                  <div *ngIf="merchant.status == 1">
                  <span class="btn btn-success" style="cursor: pointer;">Active</span>
                  </div>
                  <div *ngIf="merchant.status == 0">
                  <span class="btn btn-danger" style="cursor: pointer;">Deactivate</span>
                  </div>
                  </div>
                </td>
                <td>
                  <a class="btn btn-secondary" (click)="clickOnCouponDetail(merchant.user_id)">Click Here</a>
                </td>
              
                <td>
                  <a class="btn btn-primary" (click)="clickOnEdit(merchant.user_id)">
                    Edit
                </a>
                  </td>
                  <td>
                <mat-icon aria-hidden="false" style="cursor: pointer;" (click)="warningDialog(merchant.user_id)" aria-label="Example home icon">delete_outline</mat-icon>

                    </td>
              </tr>
              
            </tbody>
          </table>
        </div>
       
      </div>
    </div>
  </div>

</div>
<div class="card-footer">
  <pagination-controls style="text-align: center;" (pageChange)="p = $event"></pagination-controls>
</div>

